@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;

}
:root{
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}


::-webkit-scrollbar-track{
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;

}

body{
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;

}

.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--hover-color);
}

.navlist{
    display: flex;
    margin-right: 20rem;
}

.navlist a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}
.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

section{
    padding: 100px 10%;
}

.home{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:  center;
    grid-gap: 4em;

}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}

.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word{
    position: relative; /*position of img should be relative so that it can adapt with the webpage*/
    display: flex;
    opacity: 1;
}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
}
.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(o.6,0,0.7,0.2);

}

.change-text h3 .word .letter.in{
    transition: 0.38s ease;

}


.home-content{
    color: #bdbdbd;
    line-height: 1.6;
}

.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}

.info-box h5{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.info-box span{
    font-size: .9rem;
    color: #bdbdbd;
}



/* this is for the button for GRAB IT NOW!*/


button {
    font-size: 18px;
    font-weight: 700;
    font-family: "poppins" ;
    border-radius: 17px;
    justify-content: space-between;
    width: 300px;
    height: 55px;
    border: none;
    background-color: var(--hover-color);
    transition: all ease 0.4s;
    letter-spacing: 4px;
    box-shadow: var(--neon-box-shadow);

}

button:hover{
    box-shadow: 5px 5px 0px var(--text-color);
    color: var(--hover-color);
    
}


.social-icon{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}

.social-icon a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 17px;
    

}

.social-icon a i{
    font-size: 1.5rem;
}

.social-icon a:hover{
    color: var(--bg-color);
}

.img-box{
    text-align: center;
}

.img-box img{
    max-width: 400px;
    height: auto;
    margin-bottom: 190px;
    border-radius: 69% 31% 66% 34%/ 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    background-color: #f5f5f5;
    
}


/* About Section css*/

.about{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background-color: #61677A;

}

.about .img-about{
    text-align: center;
    position: relative;

}

.about .img-about img{
    max-width: 400px ;
    height: auto;
    border-radius: 69% 31% 66% 34%/ 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    background-color: #f5f5f5;
    

}

.about-content span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}

.about-content h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

.about-content p{
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;

}

.info-about1,
.info-about2,
.info-about3{
    background:var(--neon-box-shadow) ;
    font-size: .7rem;
    position: absolute;
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 69% 31% 66% 34%/ 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    outline: 1px solid var(--hover-color);
    z-index: 100;
    animation: morph 6s linear infinite;
    background-color: #250821;
    
}

.info-about1{
    left: 1%;
   bottom: 70%;
   

    
}

.info-about2{
    left: 66%;
    bottom: 70%;
    
    
}

.info-about3{
    top: 80%;
    right: 35%;
   

}

.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}

/*service section css---------------------------------------------*/
.main-text{
    width: 100% ;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2{
    font-weight: 700;
    font-size: var(--normal-font);
}

.main-text span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
   
}

.section-services .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 10px;
    
}

.service-box:hover{
    transform: translate(-.7rem);
    
}

.service-icon{
    border: 2px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);

}

.service-box h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

.service-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}

/*quality section---------------------------------*/
.quality{
    background-color: var(--secon-bg-color);
    width: 100%;

}

 .about-quality{
    line-height: 3rem;
 }



/*contact section css-------------------------------------------------*/


.contant form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contant form input,
.contant form textarea{
    width: 100%;
    color: var(--text-color);
    background: var(--secon-bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px ;
    padding: .7rem;
}

.formBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
}

.img-quailty{
    width: 100%;
}













